/*SCSS des cours*/
.session{
    width: 70vw;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

#cours{
    width : 20%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;

    font-size: clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid black;
    @include tablet{
        width : 10vw;
        height: 20vh;
        
    }

    #cours-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0;

        div{
            font-size: 1.5rem;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-size: clamp(1rem, #{"-0.875rem + 2.333vw"}, 1.3rem);
                 
        }

    }

}

